# Object files
*.o

# Executables
xace
tests/tape_test
tests/keyboard_test

# Makefiles
Makefile

# Tape files
/*.tap
/*.TAP

# Vim Swap files
*.swp

# CMake files
CMakeFiles
CMakeCache.txt
*.cmake
/Testing
/install_manifest.txt
