<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

	<head>
		<title>{{ page.title }}</title>
		<meta name="keywords" content="jupiter ace,emulator,vintage,retro,xace">
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<meta http-equiv="content-style-type" content="text/css"/>		
		<meta name="author" content="Lawrence Woodman"/>
		<meta name="description" content="The xAce project page."/>
		
		<link rel="stylesheet" href="/css/sitestyle.css" media="screen" type="text/css" />
	</head>
  
	<body>
		<div id="middleBorder">
			<h1 id="projectTitle">xAce</h1>
			<h2 id="projectSubTitle">The Jupiter Ace Emulator</h2>
			{{content}}
		</div>
	</body>
</html>