<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

	<head>
		<title>{{ page.title }}</title>
		<meta name="keywords" content="jupiter ace,emulator,vintage,retro,xace">
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<meta http-equiv="content-style-type" content="text/css"/>		
		<meta name="author" content="Lawrence Woodman"/>
		<meta name="description" content="The xAce project page."/>
		
		<link rel="stylesheet" href="css/sitestyle.css" media="screen" type="text/css" />
	</head>
  
	<body>
		<div id="middleBorder">
			<h1 id="projectTitle">xAce</h1>
			<h2 id="projectSubTitle">The Jupiter Ace Emulator</h2>
			
			<!-- Menu Begin -->
				<hr>
				{% if page.menuOption == 'home' %}
				<a class="menuItemSelected" href="index.html">Home</a>
				{% else %}
				<a class="menuItemUnselected" href="index.html">Home</a>
				{% endif %}
				
				{% if page.menuOption == 'contributing' %}
				<a class="menuItemSelected" href="contributing.html">Contributing</a>
				{% else %}
				<a class="menuItemUnselected" href="contributing.html">Contributing</a>
				{% endif %}
				<hr>
			<!-- Menu End -->
			
			
			<table id="twoColumns">
				<tr>
					<td id="leftColumn">
						{{content}}
					</td>
			
					<td id="rightColumn">
						<h2>Links</h2>
						<a href="http://github.com/LawrenceWoodman/xAce/downloads">Download xAce</a><br />
						<a href="http://github.com/LawrenceWoodman/xAce">GitHub Repository</a><br />
						<a href="http://wiki.github.com/LawrenceWoodman/xAce/">xAce Wiki on GitHub</a><br />
						<a href="http://www.freelists.org/list/xace-dev">xAce Development Mailing List</a><br />
						<br />
						<a href="http://www.jupiter-ace.co.uk/">Jupiter Ace Resource Site</a><br />
						<a href="http://en.wikipedia.org/wiki/Jupiter_Ace">Jupiter Ace on Wikipedia</a><br />
			
						<h2>News</h2>
						<h3>22nd April 2010</h3>
						Development recommensed on xAce using version 0.4 as the base.
					</td>
				</tr>
			</table>
			
			
		</div>
	</body>
</html>
